html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: 3em;
  vertical-align: middle;
}

header {
  top: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e5e5e5;
}

body {
  height: 100%;
  background-color: #f5f5f5;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #333;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 20px;
}

p {
  text-align: center;
}

.confetti {
  z-index: -1;
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  user-select: none;
  position: absolute;
}

.countdownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #333 1px solid;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}
